// Navigation code here


.nav-container {
    .center;
    background-color: @nav-bg;
}

.nav {
    text-align: center;

    h1 {
        font-size: 4em;
        padding: 8px;
    }

    .top-nav {
        padding: 15px 20px;
        text-decoration: none;
        color: @river-bend;
    }
}      